<?xml version='1.0' encoding='utf-8'?>
<widget id="com.usuario.livecam" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Live Cam Pro</name>
    <description>Cámara Premium</description>
    <author email="dev@ejemplo.com" href="http://ejemplo.com">Developer</author>
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="*" />
    
    <!-- === AJUSTES VISUALES PREMIUM === -->
    
    <!-- 1. Barra de Estado (Arriba): Transparente para que el video suba hasta el tope -->
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#00000000" /> <!-- Transparente -->
    <preference name="StatusBarStyle" value="lightcontent" /> <!-- Texto blanco -->

    <!-- 2. Barra de Navegación (Abajo): Negro Profundo -->
    <preference name="NavigationBarBackgroundColor" value="#000000" />
    <preference name="NavigationBarLight" value="false" />

    <!-- 3. Comportamiento de App -->
    <preference name="AndroidLaunchMode" value="singleTop" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="BackgroundColor" value="#000000" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />

    <platform name="android">
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>
    </platform>
</widget>
