<?xml version='1.0' encoding='utf-8'?>
<widget id="com.usuario.livecam" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Live Cam Pro</name>
    <description>Aplicacion de Camara en Vivo</description>
    <author email="dev@ejemplo.com" href="http://ejemplo.com">Developer</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- PREFERENCIAS CRÍTICAS PARA VIDEO -->
    <preference name="AndroidLaunchMode" value="singleTop" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="BackgroundColor" value="0xff000000" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="Orientation" value="portrait" />

    <platform name="android">
        <allow-intent href="market:*" />
        <!-- INYECCIÓN DE PERMISOS -->
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>
    </platform>
</widget>
